<template>
	<div class="section">
		<div class="container is-fluid">
			<div class="columns is-centered">
                <div class="column is-6">
                	<h1 class="title is-4">Sign in</h1>
                	<form action="" @submit.prevent="signin">
                		<div class="field">
                			<label class="label">Email</label>
                			<div class="control">
                				<input type="email" class="input" placeholder="alex.malikov94" v-model="form.email"   :class="{
                                    'is-danger': validation.email
                                }"
                                >

                                <div class="help is-danger" v-if="validation.email">
                                  {{ validation.email[0] }}
                                </div>
                			</div>
                		</div>


                		<div class="field">
                			<label class="label">Password</label>
                			<div class="control">
                				<input class="input" type="password" v-model="form.password"  :class="{
                                    'is-danger': validation.password
                                }"
                                >

                                <div class="help is-danger" v-if="validation.password">
                                  {{ validation.password[0] }}
                                </div>
                			</div>
                		</div>
                		<div class="field">
                			<p class="control">
                				<button class="button is-info is-medium">
                					Sign in
                				</button>
                			</p>
                		</div>
                	</form>
                </div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data(){
			return{
				form: {
             	email: '',
             	password: ''
             },
             validation: {}
			}
             
		},
        middleware: [
         'redirectIfAuthenticated'
        ],
        methods: {
        	async signin()
        	{
        		 try {
                   await this.$auth.loginWith('local',{
                   data: this.form
                })
                     if(this.$route.query.redirect){
                    this.$router.replace(this.$route.query.redirect)
                    return
                }
            this.$router.replace({
               name: 'index'
            })
               } catch(e) {
                  //console.log(e);
                  if(e.response.status === 422) {
                     this.validation = e.response.data.errors;
                  }
               }
        	}
        }
	}
</script>